body {
    height: 100vh;
    background: #27272F;
    color: #FFCF44;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway';
}

canvas {
    border: 10px solid #FFCF44;
    background: white;
}

.button {
    font-size: 1em;
    width: 40%;
    height: 10%;
    margin-top: 2em;
    background: #FFCF44;
    color: #FFCF44;
}

h3 {
    font-family: 'Raleway';
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
}

.buttons-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.result-container {
    width: 50%;
    text-align: center;
    padding:1em;
    border-top: 1px solid #FFCF44;
}

.result-container>p {
    font-size: 2em;
}

/* At the top level of your code */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        height: 90vh;
    }
    .buttons-container {
        width: 80%;
        display: flex;
    }
    .result-container {
        width: 80%;
        padding:1em;
        border-top: 1px solid #FFCF44;
    }
    .result-container>p {
        font-size: 1.1em;
    }
    .button {
        font-size: 1em;
        height: 10%;
        margin-top: 2em;
    }
    h3 {
        font-size: 2em;
        padding: 0.5em;
    }
}