body{
    height: 100vh;
    background: #27272F;
    color:#FFCF44;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway';
}

canvas {
    border: 10px solid #FFCF44
}

.checkButton{
    font-size: 3em;
    width: 80%;
    height:10%;
    margin-top: 2em;
    background: #FFCF44;
    color:#FFCF44;
}

h3{
    font-family: 'Raleway';
    align-items: flex-start;
    font-size: 5em;
    padding: 1em;
    text-align: center;
}

@media (min-width: 500px){

    canvas {
        border: 10px solid #FFCF44
    }

    .checkButton{
        font-size: 1em;
        width: 40%;
        height:10%;
        margin-top: 2em;
        background: #FFCF44;
        color:#FFCF44;
    }
    
    h3{
        font-family: 'Raleway';
        font-size: 2em;
        padding: 1em;
        text-align: center;
    }
}