body {
    height: 100vh;
    background: #27272F;
    color: #FFCF44;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway';
}

canvas {
    border: 10px solid #FFCF44
}

.button {
    font-size: 1em;
    width: 40%;
    height: 10%;
    margin-top: 2em;
    background: #FFCF44;
    color: #FFCF44;
}

h3 {
    font-family: 'Raleway';
    font-size: 2em;
    padding: 1em;
    text-align: center;
}

.buttons-container{
    width: 50%;
    display: flex;
    justify-content: center;
}

/* At the top level of your code */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        height: 90vh;
    }

    .buttons-container{
        width: 80%;
        display: flex;
    }

    .button {
        font-size: 1em;
        height: 10%;
        margin-top: 2em;
        background: #FFCF44;
        color: #FFCF44;
    }

    h3 {
        font-family: 'Raleway';
        align-items: flex-start;
        font-size: 2em;
        padding: 1em;
        text-align: center;
    }
}